.goodsList_wrap {
   position: absolute;
   top: 170px;
   left: 320px;
}

.goodsList_wrap_title {
   font-size: 18px !important;
   font-weight: 900 !important;
   margin-bottom: 30px;
   margin-left: 4px;
}

table {
   border-collapse: collapse;
   width: 1200px;
}

tr, td {
/*    border: 1px solid #ccc; */
   padding: 10px;
}

.table_title_wrap {
   background-color: #fce8ac;
}

.table_title {
   font-weight: 900 !important;   
   text-align: center;
}
tr:nth-child(2n) {
  background-color: #fcf7e6;
}

input {
   background: none;
   border: 1px solid #ccc;
   border-radius: 5px;
}

.input_num {
   width: 50px;
   text-align: right;
}

.txt_center {
   text-align: center;
}


.btn {
   border-radius: 5px;
   border: 1px solid #ccc;
   background-color: #eee;
}

/* 페이징 */
.pageInfo {
   display: flex;
   list-style: none;
}

.pageInfo a {
   margin: 10px;
}

.pageInfo a:hover {
   color: rgb(247, 173, 63) !important;
}

.pageInfo_wrap {
   position: absolute;
    top: 450px;
    left: 420px;
}