* {
	font-size: 11px !important;
	text-decoration: none;
}

body {
	background-color: #FDFCF0;
	min-width: 1200px;
	margin: 0;
}

a {
	color: black !important;
	font-size: 14px !important;
	letter-spacing: -0.5px !important;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}
/* header */
.header-nav-wrapper {
	background: url(../images/nav_bg3.png) no-repeat;
	background-position: center;
	background-size: cover;
	height: 120px;
}

.header-nav-container {
	position: fixed;
}

.header-nav-wrapper {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
}

.header {
	display: flex;
	justify-content: space-between;
	padding-left: 40px;
	padding-right: 150px;
	min-width: 1200px;
}

.header-inner {
	display: flex;
	position: relative;
	left: 1400px;
	top: 90px;
}

.header-inner>div>a>button, .header-inner>div>button {
	margin-left: 8px;
	padding-right: 4px;
	font-size: 15px;
}

.inner-button>button {
	border: 0;
	background-color: rgba(0, 0, 0, 0);
}

.inner-button a>button {
	border: 0;
	background-color: rgba(0, 0, 0, 0);
}
/* //header */

/* nav */
.nav-line {
	background-color: red;
	border-radius: 50px;
	height: 5px;
	/* background-image: linear-gradient(to right, white 33%, rgba(255, 255, 255, 0) 0%);
background-position: bottom;
background-size: 15px 1px;
background-repeat: repeat-x; */
}

.nav-wrapper {
	height: 94px;
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	min-width: 1200px;
}

.nav-content {
	padding-top: 15px;
}

.movieLogo-wrapper {
	text-align: center;
}

.mangoLogo {
	width: 120px;
	margin-left: 500px;
}

.mangoMovie {
	width: auto;
	height: 41px;
}

.nav-inner {
	display: flex;
	margin-left: 130px;
	margin-right: auto;
	align-items: center;
	padding-bottom: 15px;
	width: 598px;
}

.nav-inner>div>button {
	padding-top: 5px;
	font-size: 14px;
	font-weight: bold;
	margin-left: 15px;
}

.search-wrapper {
	margin-left: 70px;
	height: 20px;
}

.search-wrapper>input {
	box-sizing: content-box !important;
	width: 85px !important;
	height: 13px !important;
	border: 0.1px solid whitesmoke !important;
	padding: 2px 3px !important;
}

.searchButton {
	margin: 0 !important;
	padding: 2px !important;
	background-color: red;
	color: white;
	width: 30px;
	height: 100%;
	font-size: 10px !important;
	border: 0;
}

::-webkit-scrollbar {
	width: 0;
	height: 0px;
	/* height: 8px; */
	border: 3px solid #ffffff;
}

::-webkit-scrollbar-track {
	background: #efefef;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .2)
}

::-webkit-scrollbar-thumb {
	width: 0;
	height: 20px;
	background: #444444;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .1)
}
/* sidebar */
.side_Container {
	width: 179px;
	position: absolute;
	top: 147px;
	height: 600px;
	padding: 10px;
}

.side_Container>div {
	padding: 15px;
}

.seller_logo {
	padding: 26px !important;
}

.seller_logo span {
	font-size: 24px !important;
}
/* footer */
.footer_container {
	z-index: 999999;
	position: absolute;
	top: 2000px;
}

.footer_nav ul {
	display: flex;
}

.footer_nav ul li {
	list-style: none;
	flex: 1;
}

.footer_nav ul li a {
	text-decoration: none;
	color: black;
}

.footer_detail {
	line-height: 1.5;
}