body {
   min-width: 1200px;
}

/* 전체 묶음 */
.myPage_wrap {
   position: absolute;
    top: 120px;
}
/*사이드 바*/
.sideBar {
  width: 170px;
  margin-left: 40px;
  text-align: center;
}

.side_head {
  height: 50px;
  background-color: orange;
  text-align: center;
  margin-top: 20px;
  font-weight: bolder;
  font-size: larger;
  color: white;
  padding-top: 25px;
  border-radius: 20px 20px 0 0;
}

.side_body {
  border: 1px solid lightgray;
  border-radius: 0 0 20px 20px;
}

.side_body div {
  margin: 30px 0 40px 0;
}

.side_body a {
  text-decoration: none;
  color: black;
}

.side_body a:hover {
  font-weight: bolder;
}

/* 바디 */
.myPage_container {
  position: absolute;
  top: 215px;
  left: 520px;
  text-align: center;
  font-size: 20px;
}

.myPage_subtitle {
   font-size: 15px !important;
   font-weight: 900 !important;
   float: left;
   margin-left: 14px;
   margin-bottom: 17px;
   background-color: #fce8ac;
   border-radius: 15px;
   padding: 10px;
}

/*나의 예매 목록 box*/
.reservList {
  width: 980px;
  height: 300px;
  border:5px solid #fce8ac;
  border-radius: 15px;
  margin-bottom: 30px;
  text-align: left;
  padding: 20px;
}
/*나의 구매 목록 box*/
.ordersList_wrap {
  width: 980px;
  height: 300px;
  border: 5px solid  #fce8ac;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 20px;
  display: flex;
}

.ordersList_wrap div {
  flex: 1;
}

.ordersList_card {
   border: 1px solid #ccc;
   margin: 10px 20px;
   border-radius: 10px;
}

.ordersId_title {
   padding-top: 11px;
   text-align: center;
   font-size: 16px !important;
   font-weight: 900 !important;
   padding-bottom: 11px;
   border-bottom: 2px solid black;
}

.information_wrapper {
   margin-top: 10px;
   text-align: center;
}

.orders_info {
   margin-top: 3px;
   font-weight: 900 !important;
   font-size: 14px !important;
}

.orders_content_wrapper {
   margin-top: 15px;
   display: flex;
   justify-content: center;
}

.goods_name {
   font-weight: 900 !important;   
}

.wrapper_content {
   margin-top: 8px;
}

.wrapper_content_title {
   text-align: center;;
}

.information_wrapper_receiver {
   border: 1px solid #ccc;
   margin: 15px 40px;
   padding: 10px;
}
.toggle_hidden {
   display: none;
   border-top: 1px solid #ccc;
}

.content_bold {
   font-weight: 900 !important;
   margin-top: 3px;   
}

/*나의 문의 목록 box*/
.myQaList {
  width: 980px;
  height: 300px;
  border: 5px solid  #fce8ac;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 20px;
}