a* {
   font-size: 11px;
}
body {
   min-width: 1200px;
   background-color: #FDFCF0;
}
/* content */
.reserve-container {
   margin-top: 140px;
   display: flex;
   justify-content: center;
/*    height: 800px; */
   /* border: 1px solid #dddddd; */
}

.reserve-container>div {
   border: 1px solid #dddddd;
}

.reserve-title {
   border-bottom: 1px solid #dddddd;
   background-color: #444444;
   text-align: center;
   color: #dddddd;
   padding: 5px;
   font-size: 13px;
   font-weight: bold;
}

.movie-part {
   width: 284px;
}

.theater-part {
   width: 264px;
}

.day-part {
   width: 91px;
}

.time-part {
   width: 384px;
}

.sort-wrapper {
   margin: 10px 6px 6px 10px;
   /* padding: 3px; */
   display: flex;
   border-bottom: 1px solid #dddddd;
   font-size: 12px;
}

.sort-wrapper>div {
   padding: 3px;
}

.sort-wrapper>div:hover {
   border-bottom: 1px solid #111111;
}

.sort-selected {
   font-weight: bold;
   padding: 12px;
/*    border-bottom: 1px solid #111111; */
}

.sort-korean {
   margin-left: 6px;
}

.reserve-date {
   padding-top: 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 770px;
/*    overflow: scroll; */
   overflow-x: hidden;
}

.movie-date-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5px 2px;
}

.movie-week-of-day {
   margin-left: 5px;
   font-size: 10px;
   width: 12px;
   height: 22px;
   line-height: 22px;
}

.movie-day {
   text-align: center;
   width: 34px;
   height: 22px;
   font-size: 17px;
   font-weight: bold;
}

.saturday {
   color: #31597E;
   font-weight: bold;
}

.sunday {
   color: #AF2D2D;
   font-weight: bold;
}

.movie-date-wrapper-active {
   background-color: #333333;
}

.movie-date-wrapper-active>* {
   color: white;
}

.theater-wrapper {
   padding-left: 12px;
   padding-top: 2px;
   display: flex;
}

.theater-location-wrapper {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
}

.theater-place-wrapper {
   padding-right: 2px;
   margin-top: 0.5px;
/*    height: 300px; */
   flex-grow: 1;
   display: flex;
   flex-direction: column;
/*    overflow: scroll;
   overflow-x: hidden; */
}


.theater-location {
/*    height: 30px;
   font-size: 11px;
   text-align: right;
   background-color: #E6E4D9;
   padding: 6px 6px 6px 0; */
/*    margin-top: 1px; */
   
   padding: 6px 5px;
   height: 40px;
   font-size: 12px;
   font-weight: bold;
   text-align: left;
   
}

.theater-place {
   padding: 6px 5px;
   height: 40px;
   font-size: 12px;
   font-weight: bold;
   text-align: left;
}

.reserve-time {
   width: 300px;
   margin: 0 auto;
}

.reserve-where {
   font-size: 12px;
   margin-top: 20px;
   margin-left: 8px;
   font-weight: bold;
}

.reserve-time-wrapper {
   margin-top: 10px;
}

.reserve-time-button {
   margin-top: 10px;
}

.reserve-time-want {
   letter-spacing: 1px;
   font-size: 12px;
   padding: 3px;
   font-weight: bold;
   border: 1px solid #dddddd;
}

.reserve-time-remain {
   color: #97B68D;
}

.reserve-time-active {
   background-color: #333333;
   color: white;
}

.theater-place-active {
   background-color: #333333;
   color: white;
}

.movie-list-wrapper, .movie-list-wrapper-ko {
   padding: 4px 15px;
}

.movie-list, .movie-list-korean {
   display: flex;
   align-items: center;
   margin-top: 10px;
}

.movie-list-age {
   width: 24px;
   height: 24px;
   line-height: 24px;
   text-align: center;
   /* color: white; */
   font-weight: bold;
   font-size: 12px;
   border-radius: 100%;
   /* background-color: #AF2D2D; */
}

.seatButton {
   font-size: 18px;
   font-weight: bold;
   padding: 5px;
   margin-top: 20px;
   margin-left: 80px;
   border: 1px solid #333333;
}

.seatButton:hover {
   background-color: #333333;
   color: white;
}

.fifteen {
   color: white;
   background-color: #AF2D2D;
}

.eighteen {
   color: white;
   background-color: red;
   font-size: 11px;
}

.all {
   color: white;
   background-color: #52AE35;
   font-size: 11px;
}

.movie-list-title {
   padding: 6px 4px;
   margin-left: 5px;
   font-size: 12px;
}

.movie-list-title-active {
   background-color: #333333;
}

.movie-list-title-active>button {
   font-weight: bold;
   color: white;
}

::-webkit-scrollbar {
   width: 10px;
   /* height: 8px; */
   border: 3px solid #ffffff;
}

::-webkit-scrollbar-track {
   background: #efefef;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .2)
}

::-webkit-scrollbar-thumb {
   width: 50px;
   height: 50px;
   background: #444444;
   -webkit-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .1)
}

/* tab */
ul.tabs li{
   background: none;
   color: #222;
   display: inline-block;
   cursor: pointer;
}
ul.tabs li.current{
   background:  #333333;
   color: white;
}
.tab-content{
   display: none;
/*    background:  #E6E4D9; */
}
.tab-content.current{
   display: inherit;
}

ul.tabs1 li{
   background: none;
   color: #222;
   display: inline-block;
   cursor: pointer;
}
ul.tabs1 li.current1{
   background:  #333333;
   color: white;
}
.tab1-content{
   display: none;
/*    background:  #E6E4D9; */
}
.tab1-content.current1{
   display: inherit;
}
.tab1-link {
   padding-top: 13px;
   text-align: center;
}

/*           */
.category_container {
   display: inline-flex;
   width: 250px;
   
}
.category_container>div {
/*    margin-right:20px; */
   flex: 1;   
   width:5   0px;
   
}
.theater-container {
   display: inline-flex;
}
.theater-container>div {
   flex: 1;
}