* {
	list-style: none;
}

a {
	color: black;
}

.btn {
position: absolute;
    top: 456px;
    left: 1418px;
    background-color: cornsilk;
    font-size: 16px !important;
    border-radius: 30px !important;
}

.center {
	text-align: center;
	margin-bottom: 20px;
}

/* .noti_container {
	position: absolute;
	top: 115px;
	left: 220px;
	text-align: center;
	font-size: 20px;
	width: 1471px;
	height: 506px;
} */

#h_div {
	position: relative;
	right: 435px;
	top: 12px;
	font-size: 26px !important;
	font-weight: bold !important;
}

table {
	margin-top: 40px;
	border-collapse: collapse;
	width: 100% !important;
	height: 100% !important;
}

tr, td {
	padding: 10px;
}

thead>tr {
	background-color: #fce8ac;
	font-weight: bold !important;
}

tr:nth-child(2n) {
	background-color: #fcf7e6;
}

table td {
	text-align: center;	
}

#td:nth-child(1) {
	width: 70px;
}

#td:nth-child(2) {
	width: 445px;
}

#td:nth-child(3) {
	width: 150px;
}

.pageInfo {
	display: flex;
	position: absolute;
	top: 300px;
	left: 613px;
	font-size: 25px;
}

.pageInfo a {
	margin: 10px;
}

.pageInfo a:hover {
	color: rgb(247, 173, 63) !important;
}

.pageInfo_wrap {
	position: absolute;
	top: 400px;
	left: 25px;
}