h1 {
   margin-bottom: -30px !important;
}

h2 {
   margin: 10px !important;
}

.container {
   margin-top: -28px;
}

.upContainer {
   display: flex;
   background-color: #fffff7;
   border: 1px solid #ccc;
   border-radius: 15px;
}

.relatedContainer {
       border: 1px;
    margin-top: -12px;
    position: absolute;
    display: none;
    top: 477px;
    width: 1170px;
    left: 375px;
}

#relatedContent {
    position: absolute;
    width: 1170px;
    height: 264px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

#q-info {
   width: 300px;
   height: 50px;
}

#q-infos {
   height: 138px;
}

#askTitle {
   width: 870px;
   height: 50px;
   padding: 20px;
   border-radius: 15px;
}

#askContent {
   height: 144px;
   border-radius: 12px;
   padding: 20px;
}

#sendRelatedBtn {
    position: relative;
    top: -3px;
    width: 1168px;
    height: 54px;
    left: 0px;
    border: 0;
    border-radius: 12px;
}

#relateCon {
    position: relative;
    top: -1px;
    width: 1166px !important;
    height: 100px;
    left: 0px;
    border: 0;
}

#relatedContent div {
   height: 50px;
}

#relatedTitle {
position: relative;
    width: 1166px;
    left: 0px;
    height: 50px;
    border: 0;
}

#q-infos div {
   height: 34px;
   font-size: 20px;
}

.pageInfo {
   display: flex;
   position: absolute;
   top: -320px;
   left: 891px;
   font-size: 21px;;
}

.pageInfo a {
   margin: 10px;
}

.pageInfo a:hover {
   color: rgb(247, 173, 63) !important;
}

/* .pageInfo_wrap {
   position: absolute;
   top: 400px;
   left: -152px;
} */